<!DOCTYPE html>
<html>
<head>
    <title>Butterfly Converter</title>
	<link rel="Stylesheet" type="text/css" href="http://dl.sunlightjs.com/latest/themes/sunlight.default.css" />
	<style type="text/css">
		textarea { margin-top: 20px; }
	</style>
</head>

<body>
	<h1>Butterfly Markup Converter</h1>

	<p>
		This is a web service that converts custom markup to HTML.
	</p>

	<p>
		You can also just administer a POST request to the page you're currently
		on with the POST variable <code>markup</code> set, and you will get back
		 a JSON response.
	</p>

	<pre class="sunlight-highlight-javascript">//$ curl -X POST -d "markup=[lulz]" http://butterfly.tmont.com/
{
	"error": null,
	"html": "&lt;p&gt;&lt;a href=\&quot;/lulz\&quot;&gt;lulz&lt;/a&gt;&lt;/p&gt;"
}</pre>

    <textarea rows="10" cols="60" id="markup"></textarea>
    <textarea rows="10" cols="60" id="markup-converted" readonly="readonly"></textarea>
	<br />
	<input type="button" value="Convert" id="convert-submit" />
	<div id="converted-container"></div>

	<script type="text/javascript" src="http://dl.sunlightjs.com/latest/sunlight-min.js"></script>
	<script type="text/javascript" src="http://dl.sunlightjs.com/latest/lang/sunlight.javascript-min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
	<script type="text/javascript">
		Sunlight.highlightAll();
		$("#convert-submit").click(function() {
			var text = $("#markup").val();
			
			if ($.trim(text) === "") {
				return;
			}

			$.ajax("/", {
				type: "POST",
				data: { markup: text },
				success: function(json) {
					if (json.error !== null) {
						$("#converted-container").text(json.error);
						return;
					}

					$("#converted-container").html(json.html);
					$("#markup-converted").val(json.html);
					Sunlight.highlightAll();
				}
			});
		});
	</script>
</body>
</html>
