<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>

<body>
	<h1>You are here because of an error</h1>

	<p>
		Mostly what you're looking for doesn't exist. Just go <a href="/">home</a>.
	</p>
</body>
</html>
